body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

#wrapper {
	width: 540px; 
	margin: 0 auto; 
	position: relative;
}

#wrapper a {
	position: absolute;
}

iframe {
  /*display: block;*/
  width: 400px;
  /*float: left;*/
}