html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1.25em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em 0;
}

.button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background: yellow;
  color: black;
  display: block;
  text-align: center;
  padding: .5em;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
  border-radius: .25em;
}

header {
  background: black;
  color: white;
  overflow: hidden;
  border-bottom: 4px solid yellow;
  padding: 0 3%;
}

header a {
  color: inherit;
  text-decoration: none;
}

h1 {
  float: left;
  color: yellow;
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  margin: .75em 0 0 0;
}

nav {
  float: right;
  width: 55%;
  text-align: right;
  padding: 1em 0;
}

nav #innernav a {
  padding: 0 .3em;
}

nav #innernav a:hover {
  color: yellow;
}

nav #innernav a.active {
  background: #666;
}

nav #innernav strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

nav a#hamburger {
  display: none;
  padding: .75em;
}

.tagline {
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0;
  padding: 1em 3%;
  font-size: 1.25em;
  line-height: 1;
  font-style: italic;
  background: #C6C6C6;
  border-top: 1px solid #AAA;
}

#taste {
  color: #999;
  text-decoration: line-through;
}

#are {
  border-bottom: 3px solid yellow;
}

.banner {
  background: url("../images/coworking.jpg") center center no-repeat;
  background-size: 100%;
  overflow: hidden;
  padding: 3%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);
}

.blurb {
  background: rgba(255, 255, 255, .8);
  width: 34%;
  margin: 0 auto;
  padding: 4%;
  float: right;
  box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}

.callouts {
  background: #EEE;
  overflow: hidden;
  padding: 2% 0;
}

.callout {
  float: left;
  width: 33.3333%;
  padding: 2% 3%;
  box-sizing: border-box;
  border-right: 1px solid rgb(200, 200, 200);
}

.callout:last-child {
  border: none;
}

.callout .button {
  background: #C6C6C6;
}

footer {
  background: black;
  color: white;
  padding: 2% 3%;
}

@media only screen and (max-width: 950px) {
  nav #innernav a {
    font-size: 16px;
    padding: 0 .25em;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 1.5em;
    margin-bottom: .75em;
  }
  .tagline, .blurb p {
    display: none;
  }
  .blurb {
    width: 60%;
  }
  .callout {
    width: auto;
    float: none;
    border: none;
  }
  h1 {
    position: relative;
    z-index: 1;
  }
  nav {
    width: 100%;
  }
  nav a#hamburger {
    display: block;
    text-align: right;
    width: 100%;
    right: 0;
    top: 0;
    position: absolute;
  }
  nav #innernav {
    position: absolute;
    width: 94%;
    background-color: #666666;
  }
  nav #innernav a {
    text-align: center;
    width: auto;
    padding: 1em;
    border-bottom: solid 1px #ffffff;
    border-right: none;
    float: none;
    display: none;
  }
  nav #innernav strong {
    font-family: "Source Sans Pro";
    text-transform: capitalize;
  }
  nav:hover #innernav a {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .blurb {
    display: none;
  }
  .banner {
    height: 10em;
  }
  .callout:nth-child(1) > p {
    display: block;
    margin-bottom: 10px;
  }
  .callout:nth-child(2) > p {
    display: none;
  }
  .callout:nth-child(3) > p {
    display: none;
  }
}
